/* Comunes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Pantallas grandes */
@media screen and (min-width: 768px) {
    body {
        width: 1100px; /* Ajusta el ancho */
        margin: 0 auto; /* Centra web */
    }
}

/* Pantallas pequeñas */
@media screen and (max-width: 767px) {
    body {
        width: 100%; /* Ancho completo */
        margin: 0;
    }
}